<div class="mis-datos-main">
  <div class="content-mis-datos">
    <div class="top-mis-datos">

      <div class="btn-edit-profile">
        <div class="btn btn-primary">
          Editar Perfil
        </div>
        <div class="btn btn-info ml-3">
          Ver Publico
        </div>
      </div>

      <img src="../../../../assets/img/Personas/persona1.jpg" alt="">
      <div class="datos">
        <h3>Alejandro Velazquez</h3>
        <small><i class="fas fa-street-view"></i> Mexicali, Baja California</small>
        <p>
          Ingeniero de software especializado en .Net,
          me gusta mucho el trabajo en equipo y estoy abierto siempre
          al aprendizaje continuo.
        </p>

      </div>
    </div>
    <div class="middle-mis-datos">
      <div class="m-dato">
        <i class="far fa-clock"></i>
        3 años de experiencia
      </div>
      <div class="m-dato">
        <i class="fas fa-briefcase"></i>
        2 Trabajos Registrados
      </div>
      <div class="m-dato">
        <i class="fas fa-award"></i>
        7 Certificaciones
      </div>
    </div>

    <div class="content-datos-middle">
      <div class="menu-datos">
        <ul>
          <li class="selected">Experiencia</li>
          <li>Biografia</li>
          <li>Habilidades</li>
          <li>Portafolio</li>
          <li>Certificaciones</li>
        </ul>
      </div>
      <div class="contenido-menu-datos">
        <div style="display: flex; align-items: center; width: 40%; justify-content: space-between;">
          <h3>Experiencia Laboral</h3> <small>2 Trabajos</small>
        </div>
        <div class="trabajo-exp">
          <img src="../../../../assets/img/Empresas/skyworks.png" alt="">
          <div class="trabajo-exp-content">
            <div class="trabajo-exp-top">
              <div>
                <p class="negrita">SkyWorks Inc.</p>
                <p>Ingeniero de Software</p>
              </div>
              <div>
                <i class="far fa-clock"></i> Marzo 2020 - Marzo 2021
              </div>
              <div><i class="fas fa-map-marker"></i> Mexicali, Baja California</div>
            </div>
            <p class="mt-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, in. Est, facere distinctio omnis laborum magni sapiente! Recusandae, ratione reprehenderit laborum modi necessitatibus dignissimos dolorem, laboriosam saepe debitis ab dolor?
            </p>
            <h3>Fotos</h3>
            <div class="evidencias">

                <img src="../../../../assets/img/Trabajando/trabajo1.jpg" alt="">
                <img src="../../../../assets/img/Trabajando/trabajo2.jpg" alt="">
            </div>
            <div class="supervisor mt-3">
                <h3>Persona Acargo</h3>
                <div class="persona-supervisor">
                    <p>
                      <span>Enrique Martinez:</span> Supervisor del departamento de It Software
                    </p>
                </div>
                
            </div>
          </div>
        </div>
        <div class="trabajo-exp">
          <img src="../../../../assets/img/Empresas/avattia.png" alt="">
          <div class="trabajo-exp-content">
            <div class="trabajo-exp-top">
              <div>
                <p class="negrita">Avattia ERP</p>
                <p>Ingeniero FullStack</p>
              </div>
              <div>
                <i class="far fa-clock"></i> Avril 2021 - Presente
              </div>
              <div><i class="fas fa-map-marker"></i> Mexicali, Baja California</div>
            </div>
            <p class="mt-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, in. Est, facere distinctio omnis laborum magni sapiente! Recusandae, ratione reprehenderit laborum modi necessitatibus dignissimos dolorem, laboriosam saepe debitis ab dolor?
            </p>
            <h3>Fotos</h3>
            <div class="evidencias">

                <img src="../../../../assets/img/Trabajando/trabajo1.jpg" alt="">
                <img src="../../../../assets/img/Trabajando/trabajo2.jpg" alt="">
            </div>
            <div class="supervisor mt-3">
                <h3>Persona Acargo</h3>
                <div class="persona-supervisor">
                    <p>
                      <span>Ommar Sanchez:</span> Director y Jefe de Avattia ERP
                    </p>
                </div>
                
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
