<div class="empresas">

    <div class="empresas-top">
        <div class="cover-photo">
            <div class="mask">
                <div class="profile-photo-empresa">
                    <img src="../../../../assets/img/Personas/persona1.jpg" alt="">
                </div>
            </div>
          
        </div>
        <div class="empresas-grid">
            <div class="personal-info">
                <div class="head-personal-info">

                    <h2>
                        Alejandro Velazquez
                    </h2>
                    <small>Mexicali, Baja California</small>
                </div>

                <div class="datos-contacto">
                    <h3>Datos de contacto</h3>
                    <div class="contacto">
                        <i class="fas fa-phone"></i> Celular: <span>6862984646</span> 
                    </div>
                    <div class="contacto">
                        <i class="fas fa-envelope-square"></i> Email: <span>alexandro_sin@hotmail.com</span> 
                    </div>
                </div>
           
                <div class="badges">
                    <h3><i class="fas fa-award"></i> Insignias</h3>
                    <div class="insignias">
                        <div class="insignia">
                            <img src="../../../../assets/img/insignias/csharp_logo.png" alt="">
                        </div>
                        <div class="insignia">
                            <img src="../../../../assets/img/insignias/js.png" alt="">
                        </div>
                        <div class="insignia">
                            <img src="../../../../assets/img/insignias/html.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="aptitudes">
                    <h3><i class="fas fa-brain"></i> Aptitudes</h3>
                    <ul>
                        <li><i class="fas fa-cubes"></i> Ordenado</li>
                        <li><i class="fas fa-cubes"></i> Resposable</li>
                        <li><i class="fas fa-cubes"></i> Aprendizaje Continuo</li>
                        <li><i class="fas fa-cubes"></i> Proactivo</li>
                    </ul>
                </div>
            </div>
            <div class="empresas-info">
                <div class="header-empresas-info">

                </div>
                <div class="list-empresas">

                    <div class="empresa">
                        <div class="top-empresa">
                            <img src="../../../../assets/img/Empresas/skyworks.png" alt="">
                            SkyWorks Inc.
                        </div>
                        <div class="middle-empresa">
                            <ul>
                                <li><span>Cargo:</span> Ingeniero De Software</li>
                                <li><span>Departamento:</span> IT Software</li>
                                <li><span>Labores:</span> Desarrollo de software</li>
                                <li><span>Fecha de ingreso:</span> 2020/03/20</li>
                                <li><span>Fecha de salida:</span> 2021/03/05</li>
                                <li><span>Al mandato de:</span> Enrique Martinez</li>
                                <li><span>Descripcion:</span> Alejandro fue una persona que 
                                    desempeño sus labores de manera correcta y en orden.
                                </li>
                            </ul>
                        </div>
                        <div class="footer-empresa">
                           <a href=""> Consultar certificaciones y habilidades adquiridas</a>
                        </div>
                    </div>

                    <div class="empresa">
                        <div class="top-empresa">
                            <img src="../../../../assets/img/Empresas/avattia.png" alt="">
                            Avattia ERP
                        </div>
                        <div class="middle-empresa">
                            <ul>
                                <li><span>Cargo:</span> Ingeniero FullStack</li>
                                <li><span>Departamento:</span> Departamento de software</li>
                                <li><span>Labores:</span> Desarrollo de software</li>
                                <li><span>Fecha de ingreso:</span> 2021/04/10</li>
                                <li><span>Fecha de salida:</span> Presente</li>
                                <li><span>Al mandato de:</span> Omar Sanchez</li>
                                <li><span>Descripcion:</span> Desarrollador de software con mucho
                                    nivel, siempre fue ordenado y puntual en sus horas de entrega.
                                </li>
                            </ul>
                        </div>
                        <div class="footer-empresa">
                           <a href=""> Consultar certificaciones y habilidades adquiridas</a>
                        </div>
                    </div>

                    <div class="empresa">
                        <div class="top-empresa">
                            <img src="../../../../assets/img/Empresas/google.jpg" alt="">
                            Google
                        </div>
                        <div class="middle-empresa">
                            <ul>
                                <li><span>Cargo:</span> Ingeniero De Electronica</li>
                                <li><span>Departamento:</span> Electronica</li>
                                <li><span>Labores:</span> Desarrollo de componentes</li>
                                <li><span>Fecha de ingreso:</span> 2019/07/20</li>
                                <li><span>Fecha de salida:</span> 2019/09/05</li>
                                <li><span>Al mandato de:</span> Oswaldo Martinez</li>
                                <li><span>Descripcion:</span> Alejandro no supo
                                    desempeñar su area de trabajo, nulos conocimientos
                                    en electronica.
                                </li>
                            </ul>
                        </div>
                        <div class="footer-empresa">
                           <a href=""> Consultar certificaciones y habilidades adquiridas</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>