        <div class="empresas">
            <div class="empresa-box">
                <div class="empresa-box-top">
                    <h2>Mis Estadisticos</h2>
                    <div class="datos-profile">
                        <img src="../../../../assets/img/Personas/persona1.jpg" alt="">
                        <div>
                            <p>Alejandro Velazquez</p>
                            <small>Mexicali, Baja California</small>
                            <div class="activo">
                                Empleado Activo
                            </div>
                        </div>
                    </div>
                            
                    <div id="myChart">

                    </div>

                </div>
            </div>

        </div>
