<div class="main-registrar">
    <div class="sidebar-reg">
        <div class="open-menu">
            <i class="fas fa-bars"></i>
        </div>

        <ul>
          <li><i class="fas fa-users"></i></li>
          <li><i class="far fa-file-alt"></i></li>
          <li><i class="fas fa-cog"></i></li>
        </ul>
    </div>
    <div class="main-reg-content">
        <div class="top-ref">
            <img src="../../../../assets/img/AdvaitaLogo.png" alt="">
        </div>
        <div class="tabla-reg">
            <div class="header-tabla-reg">
                <div>
                    Candidatos
                </div>
                <div class="btn-refresh">
                    Recargar Listado
                </div>
            </div>
            <div class="menu-reg">
                <ul>
                    <li class="selected">Candidatos</li>
                    <li>Empleados Registrados</li>
                    <li>Empleados Sin Registrar</li>
                </ul>
            </div>

            <div class="buscador-reg">
                <i class="fas fa-search"></i> <input placeholder="Buscar Candidato" type="text" name="" id="">
                <select name="" id="">
                    <option value="">A-z</option>
                    <option value="">Z-a</option>
                </select>
            </div>


            <table style="width: 90%; margin: 0 auto;" class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripcion</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let solicitud of solicitudes">
                    <td>{{solicitud.nombre}}</td>
                    <td>{{solicitud.desc}}</td>
                    <td>
                      <div class="btn btn-primary mr-3">Aceptar</div>
                      <div class="btn btn-warning mr-3">Ver Perfil</div>
                      <div class="btn btn-danger mr-3">Denegar</div>
                    </td>
                  </tr>
                

                </tbody>
              </table>
        </div>
    </div>
</div>