<div class="main-registrar">
    <div class="sidebar-reg">
        <div class="open-menu">
            <i class="fas fa-bars"></i>
        </div>
    </div>
    <div class="main-reg-content">
        <div class="top-ref">
            <img src="../../../../assets/img/AdvaitaLogo.png" alt="">
        </div>
        <div class="tabla-reg">
            <div class="header-tabla-reg">
                <div>
                    Candidatos
                </div>
                <div class="btn-refresh">
                    Recargar Listado
                </div>
            </div>
            <div class="menu-reg">
                <ul>
                    <li class="selected">Candidatos</li>
                    <li>Empleados Registrados</li>
                    <li>Empleados Sin Registrar</li>
                </ul>
            </div>

            <div class="buscador-reg">
                <i class="fas fa-search"></i> <input placeholder="Buscar Candidato" type="text" name="" id="">
                <select name="" id="">
                    <option value="">A-z</option>
                    <option value="">Z-a</option>
                </select>
            </div>
            <table class="table">
                <thead >
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>