<div class="main">
    <div style="z-index: 10;" id="sidebar" class="sidebar">

        <div class="container-sidebar">

            <div class="logo item-menu">
            </div>
            <div class="item-menu">
                <div class="search">
                    <i class="fas fa-search"></i>
                    <input placeholder="Buscar" class="input-search" type="text" name="" id="">

                </div>
            </div>



            <div class="container-small-menu">
                <ul>
                    <li>
                        <i class="fas fa-user"></i> 
                        <a routerLink="misdatos">
                            <p>Mis Datos</p>
                        </a>
                    </li>
                    <li>
                        <i class="fas fa-chart-bar"></i>
                            <p>Habilidades</p>
                    </li>
                    <li>
                        <i class="far fa-file-alt"></i>
                        <p>Mis Documentos</p>
                    </li>
                    <li>
                        <i class="far fa-address-card"></i>
                        <a routerLink="empresas">
                            <p>Mis Empresas</p>
                        </a>
                    </li>
                </ul>
                <div class="linea"></div>
                <ul>
                    <li>
                        <i class="fas fa-cogs"></i>
                        <p>Configuraciones</p>
                    </li>
                    <li>
                        <i class="fas fa-asterisk"></i>
                        <p>Preferencias</p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="user-login">
            <img src="assets/img/user.png" alt="">
            <p>Alejandro Velazquez <i class="fas fa-sign-out-alt"></i></p>
        </div>


    </div>
    <div id="mainContainer" class="main-container margin-left-short">
        <router-outlet></router-outlet>
    </div>
</div>
