<div class="main">
    <div id="sidebar" class="sidebar">

        <div class="container-sidebar">

            <div class="logo item-menu">
                <img src="assets/img/labratstrans.png" alt="">
            </div>
            <div class="item-menu">
                <div class="search">
                    <i class="fas fa-search"></i>
                    <input placeholder="Buscar" class="input-search" type="text" name="" id="">

                </div>
            </div>



            <div class="container-small-menu">
                <ul>
                    <li>
                        <i class="fas fa-users"></i> 
                        <p>Repartidores</p>
                    </li>
                    <li>
                        <i class="fas fa-chart-bar"></i>
                        <a href="stats.html">
                            <p>Estadisticas</p>
                        </a>
                    </li>
                    <li>
                        <i class="fas fa-motorcycle"></i>
                        <p>Trayectos</p>
                    </li>
                    <li>
                        <i class="far fa-address-card"></i>
                        <p>Usuarios</p>
                    </li>
                </ul>
                <div class="linea"></div>
                <ul>
                    <li>
                        <i class="fas fa-cogs"></i>
                        <p>Configuraciones</p>
                    </li>
                    <li>
                        <i class="fas fa-asterisk"></i>
                        <p>Preferencias</p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="user-login">
            <img src="assets/img/user.png" alt="">
            <p>Alejandro Velazquez <i class="fas fa-sign-out-alt"></i></p>
        </div>


    </div>
    <div id="mainContainer" class="main-container margin-left-short">

    </div>
</div>
