<div class="main-certification">
    <div class="content-main-certification">
        <h2>Tu Solicitud para la certificacion de 'Liderazgo Empresarial' ha sido aceptada</h2>
        <div class="top-certification">
            <img src="../../../../assets/img/examen.png" alt="">
            <div>

                <h3>Liderazgo Empresarial</h3>
                <i class="far fa-clock"></i> 60 Minutos
            </div>
        </div>
        <p>
            Contaras con 60 minutos para realizar tu examen de validacion de habilidades,
            una vez realizado se certificara por tu supervisor a cargo.
            <br>
            Se sugiere realizarlo en un lugar tranquilo que evitar perder tiempo.
            <br>
            El cronometro iniciara a contar una vez que se al boton `Responder`.
            <br>
            Si el navegador se cierra, el tiempo seguira contando, le sugerimos revisar su conexion de internet antes de iniciar.

        </p>

        <div class="myBtn">Responder</div>
    </div>
</div>